<li>
	#{{this.id}}:{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Devour-It!{{else}}Devoured/Eat-Again?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>